.row{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.card{
    width: 150px;
    height: 170px;
    /* border: 1px solid red; */
    place-items: center;
    padding-top: 10px;
}

.photo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid rgb(156, 155, 155);
    padding: 3px 3px 3px 3px;
    border-radius: 9999px;
}

.name{
    padding-top: 10px;
}