.box{
    /* 자식 태그들을 가로·세로 한줄로 세우기 */
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}

.minibox{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.orange{

    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}
