header {
  padding: 30px 60px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.logo > img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}

.first {
  background-image: url("../images/background3.avif");
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.words {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.words > .word1 {
  font-size: 25px;
  font-weight: 30;
  color: white;
  margin-bottom: 8px;
}

.words > .word2 {
  font-size: 70px;
  font-weight: 300;
  color: white;
  margin-bottom: 15px;
}

.container {
  position: absolute;
  bottom: 100px;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.button2 {
  background-color: rgb(19, 22, 39);
  color: white;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 500;
  border: none;
}

.button1 {
  background-color: white;
  color: black;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  
}

.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.first>.pop {
  width: 40px;
  height: 40px;
  background-color: white;
  color: gray;
  padding: 3px 3px;
  border: none;
  border-radius: 9999px;
  position: absolute;
  right: 50px;
  bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
}

.pop:hover {
  color: rgb(49, 49, 49);
}
